@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);

  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-danger: var(--danger);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);

  --radius-sm: calc(var(--radius) - 8px);
  --radius-md: calc(var(--radius) - 4px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 16px);
  --radius-4xl: calc(var(--radius) + 24px);

  --animate-shiny-text: shiny-text 8s infinite;

  @keyframes shiny-text {
    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }
    30%,
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  }

  --font-parisienne: var(--font-parisienne);
  --font-pixelify-sans: var(--font-pixelify-sans);
  --font-nunito: var(--font-nunito);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --surface: oklch(0.97 0 0);
  --surface-foreground: oklch(0.205 0 0);

  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: rgba(139, 92, 246, 1);
  --secondary-foreground: oklch(1 0 0);

  --accent: rgba(255, 221, 0, 1);
  --accent-foreground: oklch(0.145 0 0);

  --danger: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --radius: 1rem;

  --default-font-family: var(--font-nunito);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --surface: oklch(0.371 0 0);
  --surface-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);

  --secondary: rgba(139, 92, 246, 1);
  --secondary-foreground: oklch(1 0 0);

  --accent: rgba(255, 221, 0, 1);
  --accent-foreground: oklch(0.145 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
}

@layer base {
  button:not([disabled]),
  [role='button']:not([disabled]) {
    cursor: pointer;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .content-container {
    @apply px-6 max-w-7xl mx-auto;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

pre.shiki {
  --shiki-light-bg: #f6f6f7 !important;

  background-color: var(--shiki-light-bg);
}

.dark pre.shiki {
  background-color: var(--shiki-dark-bg);
}

pre.shiki span {
  color: var(--shiki-light);
}

.dark pre.shiki span {
  color: var(--shiki-dark);
}
